LOG_LEVEL=info

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET=
TOKEN_HASH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URL=
ADMIN_GITHUB_ID=

WORKER_TOKEN=
BACKEND_BASE=
MIYOUSHE_COOKIE=
