RUST_LOG="info,Akasha=debug,tower_http=info"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URL=

JWT_SECRET=
TOKEN_HASH_SECRET=
ADMIN_GITHUB_ID=
WORKER_TOKEN=
BACKEND_BASE=
MIYOUSHE_COOKIE=
